<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div>
            <input v-model="inputValue"/>
            <button @click="handSubmit">提交</button>
           
        </div> 
        <ul>
            <!-- <li v-for="item of list":key="index">
                {{item}}
            </li> -->
            <todo-item 
            v-for="(item,index) in list"           
            :content="item"
            :key="index"
            :index="index"
            @delete="handDelete"
            ></todo-item>
        </ul>
    </div>
    <script src="vue2.js"></script>
</body>
</html>